################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.suo
*.json
/Tipalti.IFrame.Mobile/platforms
/Tipalti.IFrame.Mobile/node_modules
